[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist/spa"


[functions."api"]
  node_bundler = "esbuild"
  external_node_modules = []
  
[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"
